<!DOCTYPE html>
<html lang="ru">
<html>
    <head>
        {% if title %}
        <title>{{title}} - PSEK.Rate</title>
        {% else %}
        <title>PSEK.Rate</title>
        {% endif %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#444444"/>
        <!-- All scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/login.js"></script>
        <script type="text/javascript" src="/static/js/signup.js"></script>
        <script type="text/javascript" src="/static/js/sha256.js"></script>
        <script type="text/javascript" src="/static/assets/js/ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
        <script type="text/javascript" src="/static/js/charts/chartBuilder.js"></script>
        <script type="text/javascript" src="/static/js/inds.js"></script>
        <!-- All stylesheets must be placed here -->
        <link href="static/assets/css/custom.min.css" rel="stylesheet">
        <link href="static/assets/css/animate.min.css" rel="stylesheet">
        <link href="static/assets/css/nprogress.css" rel="stylesheet">
        <link href="static/assets/css/reset.css" rel="stylesheet" type="text/css"/>
        <link href="static/assets/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="static/assets/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="static/assets/font/fontawesome/style.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"/>
    </head>
    <body id="body">
        {% block card %}
            <div class="tabs">
                <div class="login alert alert-info"><a onclick="load_login();">Login</a></div>
                <div class="preview alert alert-info">Preview</div>
            </div>
        {% endblock %}
        {% block error %}
        {% endblock %}
    </body>
</html>