*{
	box-sizing: border-box;
}

body{
	height: 100vh;
	width: 100vw;
	display: flex;
}

.menu{
	height: 100%;

}
.menu .menu_hidden{
	width: 70px;
	height: 100%;
	display: flex;
	position: relative;
	z-index: 9;
	background-color: #212121;
	flex-direction: column;
	padding: 0 5px;
}

.menu .menu_hidden .logo__wrap{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.menu .menu_hidden .logo__wrap .logo{
	background-image: url(logo.png);
	height: 40px;
	width: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	
}

.menu .menu_hidden ul{
	width: 100%;
}

.menu .menu_hidden ul li{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 9px;
	color: #fff;
	font-family: "Roboto";
	font-weight: 400;
	flex-direction: column;

}

.menu .menu_hidden ul li svg{
	height: 25px;
	fill: #fff;
	margin-bottom: 10px;

}

.menu .menu_expanded{
	width: 70px;
	height: 100%;
	display: flex;
	position: relative;
	z-index: 9;
	background-color: #212121;
	flex-direction: column;
	padding: 0 5px;
}

.menu .menu_expanded .logo__wrap{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.menu .menu_expanded .logo__wrap .logo{
	background-image: url(logo.png);
	height: 40px;
	width: 50px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	
}

.menu .menu_expanded ul{
	width: 100%;
}

.menu .menu_expanded ul li{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 9px;
	color: #fff;
	font-family: "Roboto";
	font-weight: 400;
	flex-direction: column;

}

.menu .menu_expanded ul li svg{
	height: 25px;
	fill: #fff;
	margin-bottom: 10px;

}
.content{
	height: 100%;
	width: 100%;
}

.header{
	width: 100%;
	height: 60px;
	background-color: white;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);	
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Roboto";
	font-weight: 300;
	padding: 0 20px;
}
.header .left_bar{
	height: 100%;
	width: 33.33%;
	display: flex;
	align-items: center;
	padding-right: 20px;
}
.header .menu_butt{
	height: 25px;
	width: 25px;
	margin-right: 20px;
	flex-shrink: 0;
	cursor: pointer;
}


.header .menu_butt svg{
	width: 100%;
	height: 100%;
	fill: #9a9a9a;
	transition: all .3s ease;

}

.header .menu_butt:hover svg{
	fill: #4a4a4a;

}

.header .search{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;

}
.header .search svg{
	height: 16px;
	width: 16px;
	fill: #9a9a9a;
	margin-right: 10px;
	flex-shrink: 0;
	transition: all .3s ease;
}
.header .search:hover svg{
	fill: #4a4a4a;

}
.header form{
	width: 100%;
}
.header form input{
	height: 30px;
	width: 100%;
	border: none;
	font-size: 16px;
	color:#9a9a9a;
	outline: none;
	font-family: "Roboto";
	font-weight: 300;


}
.header form input::placeholder{
	color:#d0ced1;
}

.header nav{
	height: 100%;
	width: 33.33%;

}
.header nav ul{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;

}
.header nav ul li{
	height: 100%;
	width:33.33%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #9a9a9a;
	position: relative;
	/*margin-right: 50px;*/
	font-size: 16px;
	transition: all .3s ease;
	cursor: pointer;

}
.header nav ul li:hover{
	color: #4a4a4a;
	
}
.header nav ul li .line{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #4a4a4a;
	transition: all .3s ease;
	opacity: 0;
}
.header nav ul li:hover .line{
	opacity: 1;
	
}

.header .account{
	width: 33.33%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}

.header .account .login{
	color:#9a9a9a;
	cursor: pointer;
	transition: all .3s ease;
	font-size: 16px;
	display: flex;
	align-items: center;
	height: 100%;

	display: none;
	
}
.header .account .login svg{
	height: 16px;
	width: 16px;
	fill: #9a9a9a;
	flex-shrink: 0;
	transition: all .3s ease;
	margin-left: 5px;
}

.header .account .login:hover{
	color: #4a4a4a;
}

.header .account .login:hover svg{
	fill: #4a4a4a;
}

.header .account .user{
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;

	/*display: none;*/
	

}
.header .account .user .avatar{
	border-radius: 30px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.header .account .user ul{
	position: absolute;
	z-index:9;
	background-color:white;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	right: 0;
	transition: all .3s ease;
	opacity: 0;
	pointer-events: none;


}

.header .account .user ul li{
	padding: 15px 30px;
	text-align: center;
	font-size: 16;
	color: #9a9a9a;
	cursor: pointer;
	transition: all .3s ease;

}
.header .account .user ul li:hover{
	color: #4a4a4a;
}

.header .account .user input{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	margin:0;
	cursor: pointer;
}

.header .account .user input[type="checkbox"]:checked + ul{
	opacity: 1;
	pointer-events: initial;
	transform: translateY(40px);
}