<html>
  <head>
    {% if title %}
    <title>{{title}} - PSEK.Rate</title>
    {% else %}
    <title>PSEK.Rate</title>
    {% endif %}
    <link href="static/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container-fluid">
      <div class="her">
      rate system: user info / breadcrumbs
    </div>
    <div class="row">
      <div class="col-md col-xs col-sm col">
        <ul class="nav bg-dark">
          <li class="nav-item">
            <a class="nav-link text-white" href="/index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/rate">show Rate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/logout">Log Out</a>
          </li>
          <li class="nav-item alert-dark">
            <a class="nav-link text-dark" href="/inds">Indicators</a>
          </li>
        </ul>
      </div>
    </div>
    
    <hr>
    <h2>{{ user }}</h2>
<script>
    function get_len() {
        console.log(jQuery.ajax);
        jQuery.ajax({
            type: "POST",
            url: "/get_len",
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                var json = jQuery.parseJSON(response)
                $('#len').html(json.len)
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
</script>
<script>
  function get_inds() {
      jQuery.ajax({
        type: "POST",
        url: "/get_inds",
        data: $('form').serialize(),
        dataType: "html",
        success: function(response) {
          var html_temp = jQuery.parseHTML(response)
          $('#len').html(html_temp);
        }, 
        error: function(error) {
          console.log(error);
        }
      });
    }
</script>
<form action="/get_len" method="post" name="form">
    <label for="name">Введите текст:</label>
    <input id="name" name="name" type="text">
    <input type="button" value="Отправить" onclick="get_len();">
    <input type="button" value="Indicators" onclick="get_inds();">
</form>
<div class="row" id="len">{% block ht %} {% endblock %}</div>
    <div class="alert alert-dark" role="alert">dev branch</div>
    <div class="content">
      {% block content %} {% endblock %}
    </div>
    <div class="login_block">
      {% block login_block %}{% endblock %}
    </div>
    <div class="sign_up">
      {% block sign_up %}{% endblock  %}
    </div>
    </div>
    <canvas class="bg-dark col-md-6 col-sm-6" id="marksChart" width="360" height="240" onclick="build_chart_by_query()"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="/static/js/charts/chartBuilder.js"></script>
  </body>
</html>
