{% extends 'base.html' %}
{% block login_block %}
<div class="block_form">
    <h1>Sign In</h1>
    <div class="login-form">
    {% if error_login %}
        {{ error_login }}
    {% endif %}
    <form action="/login_ajax" id="login-form" method="post" novalidate>
        <p>
            {{ rform.text.label }}<br>
            {{ rform.text }}
        </p>
        
        <p>
            {{ rform.pas.label }}<br>
            {{ rform.pas }}
        </p>
        <p>
            {{ rform.btn_sbt onclick="login()" }}
        </p>
    </form>
    </div>
</div>
{% endblock %}