{% extends 'base.html' %}
{% block content %}

<table class="table">	
{% for row in info %}
 <tr> 
 	{% for col in row %}
 	<td> {{ col }} </td>
 	{% endfor %}
 </tr>
{% endfor %}
</table>

<form action="/rate" method="POST" novalidate>
    <p>
        {{ rform.iin_text.label }} <br>
        {{ rform.iin_text }}
    </p>
    <p>
        {{ rform.btn_sbt }}
    </p>
</form>

<table class="table">	
{% for row in records %}
 <tr> 
 	{% for col in row %}
 	<td> {{ col }} </td>
 	{% endfor %}
 </tr>
{% endfor %}
</table>

<table class="table">
{% for row in dates %}
    <tr>
    {% for col in row %}
    <td> {{ col }} </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

{% endblock %}