<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form action="" method="POST" novalidate>
         
            {{ rform.iin_key_text.label }} <br> 
            {{ rform.iin_key_text }}
        
            {{ rform.f_name.label }} <br>
            {{ rform.f_name }}
        
            {{ rform.s_name.label}} <br>
            {{ rform.s_name }}
        
            {{ rform.t_name.label}} <br>
            {{ rform.t_name }}
        
            {{ rform.priv_value.label}} <br>
            {{ rform.priv_value }}
        
            {{ rform.pass_field.label }} <br>
            {{ rform.pass_field }}
    </form>
</body>
</html>