{% extends 'bases/base.html' %}
{% block content %}
<div class="block_form">
    <h1>Sign In</h1>
    <div class="login-form">
    {% if error_login %}
        {{ error_login }}
    {% endif %}
    <form action="/login_ajax" id="login-form" method="post" novalidate>
            {{ rform.text.label }}
            {{ rform.text }}
            {{ rform.pas.label }}
            {{ rform.pas }}
        <a href="javascript:;" class="btn btn-primary" onclick="login();">LOGIN?</a>
    </form>
    </div>
</div>
{% endblock %}